.advantageMainDiv {
    margin-top: 50px;
    animation: slideFromLeft 3s ease-in forwards;
    transform: translateX(-100vw);


}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100vw);
        /* Start position outside the viewport */
    }

    to {
        transform: translateX(0px);
        /* End position at the left edge of the viewport */
    }
}

.advantageMainDiv img {
    width: 100%;
    height: 100%;
}

.contentDiv {
    padding: 20px 50px;
    font-size: 70px;
    font-weight: 700;
    background: url(/Homepageimages/water-drop-background.png)
}

.advantageTitle,
.brandName {
    color: var(--blueBackground);
}

.advantageContent {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}

.contentDiv button {
    background: var(--blueBackground) !important;
    color: white;

}

.contentDiv button :hover {
    color: white;
    font-weight: 700;
}

@media screen and (max-width:1024px) {

    .advantageMainDiv img {
        width: 100%;
        height: 100%
    }

    .contentDiv {
        font-size: 60px;
    }

    .advantageContent {
        font-size: 26px;
    }
}

@media screen and (max-width:768px) {



    .contentDiv {
        font-size: 50px;
    }

    .advantageContent {
        font-size: 24px;
    }
}

@media screen and (max-width:768px) {



    .contentDiv {
        font-size: 40px;
    }

    .advantageContent {
        font-size: 21px;
    }
}