.mainFeatureDiv {
    background: url(https://cdn.dribbble.com/users/1069080/screenshots/3062379/006_dribbble_watersplashcel.gif);
    /* height: 400px; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    margin-top: 100px;
}

.mainFeatureDiv div {
    /* padding: 40px 50px; */
}

.checkIcon {
    background-color: green;
}

.mainFeatureDiv p {
    font-size: 30px;
    /* border: 1px solid var(--blueBackground); */
    height: 80px;
    color: var(--blueBackground);
    /* color: white; */
    /* width: max-content; */
    /* color: var(--blueBackground); */
    background-color: rgb(15, 220, 247);
    border-radius: 50px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    padding: 10px 18px;
    gap: 10px;
    width: 380px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    /* text-align: center; */
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .mainFeatureDiv p {
        font-size: 26px;
        height: 60px;
    }
}

@media screen and (max-width:768px) {
    .mainFeatureDiv {
        flex-direction: column;
        align-items: center;
    }

    .mainFeatureDiv p {
        font-size: 23px;
        height: 60px;
    }
}

@media screen and (max-width:376px) {
    .mainFeatureDiv p {
        font-size: 20px;
        height: 40px;
        width: 300px;
    }
}